body {
    font-family: Arial;
    margin: 40px;
    background-color: #f5f5f5;
}

h1, h2 {
    color: #c3d5e7;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}